<!DOCTYPE html>
<html>
    <head>
        <title>Sample</title>
        <script defer src="/script.js" type="text/javascript"></script>
    </head>
    <body>
        Sample2 Hello
        <button onclick="back(event)">Go To Back!</button>
    </body>
</html>
